<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Notice Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='closeModal()'>Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-card>
            <ion-card-subtitle text-center>
                <h1 style="color: #2A1770;">{{ notice.title }}</h1>
            </ion-card-subtitle>
            <ion-card-content>

                <!-- <ion-row>
                    <ion-col size="4">
                        <h2>Description</h2>

                    </ion-col>
                    <ion-col size="8">
                        <h2>: {{ notice.content }}</h2>
                    </ion-col>
                </ion-row> -->


                <ion-grid>

                    <ion-row>
                        <!-- <ion-col size="4">
                          <h2>Status</h2>

                      </ion-col> -->
                        <ion-col size="12">
                            <h2>{{ notice.content }}</h2>
                        </ion-col>
                    </ion-row>

                    <ion-button (click)="share(notice.title,notice.content,notice.image,notice.image1)" style="float:right;" color="success">Share</ion-button>

                </ion-grid>

                <div *ngIf="notice.image != null">
                    <ion-img src="{{ notice.image }}"></ion-img>
                </div>

                <div *ngIf="notice.image1 != null">
                    <ion-img src="{{ notice.image1 }}"></ion-img>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>