ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 19px;
    color: black;
}