<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="hostels"></ion-back-button>
        </ion-buttons>
        <ion-title>Welcome at {{ hostel }}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="3">


            </ion-col>
            <ion-col size="6">

                <ion-img src="../../../../assets/icon/png/hostel.png"></ion-img>
            </ion-col>

            <ion-col size="3">

            </ion-col>

        </ion-row>

    </ion-grid>
    <ion-grid padding-start>
        <ion-row>
            <h3>{{hostel}} Hostel</h3>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <ion-label> Block Number </ion-label>
            </ion-col>
            <ion-col size="7">
                <ion-label>{{ response.location }}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <ion-label>Hostel Capacity</ion-label>
            </ion-col>
            <ion-col size="7">{{response.capacity}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <ion-label>Hostel Gender</ion-label>
            </ion-col>
            <ion-col size="7">
                <ion-label>{{ response.gender }}</ion-label>
            </ion-col>
        </ion-row>


        <ion-row>
            <h3>Hostel Warden</h3>
            <ion-col size="2"></ion-col>
            <ion-col size="10" *ngFor="let Warden of nwardens">
                <ion-label>{{Warden.user.first_name}} &nbsp;{{Warden.user.last_name}}</ion-label>
            </ion-col>
        </ion-row>



        <ion-row>
            <h3>Hostel Janitors</h3>
            <ion-col size="2"></ion-col>
            <ion-col *ngFor="let janitor of njanitors" size="10">
                <ion-label>{{janitor.name}}</ion-label>
            </ion-col>
        </ion-row>



        <ion-row>
            <h3>Committee Members</h3>
            <ion-col size="2"></ion-col>

            <ion-col size="10" *ngFor="let commitie of ncommities">
                <ion-label>{{ commitie.name}}&nbsp;&nbsp;>{{ commitie.role }}</ion-label>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>