img {
    width: 80%;
    margin: auto;
    display: block;
}

h4 {
    font-weight: bold;
}

ion-content {
    --background: none;
    background-image: url('../../../../assets/icon/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20%;
    margin-right: 20%;
}

ion-footer {
    --background: none;
    background-image: url('../../../../assets/icon/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    color: #2A1770;
    font-size: 19px;
    float: left;
}

ion-label {
    font-size: 17px;
    float: left;
}

ion-avatar {
    height: auto;
    width: 60px;
}

hr.new4 {
    border-top: 1px solid rgb(211, 211, 211);
}

.banner {
    opacity: 0.8;
    filter: alpha(opacity=50);
    background-color: rgb(211, 211, 211);
    color: #2A1770;
    text-align: center;
    position: absolute;
    bottom: 0;
    // width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}