<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="map"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Directions
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-card padding>
            <h3 style="color: #2A1770;">Name : {{ response.name }}</h3> <br>

            <h4>Location : {{ response.location }}</h4>
            <p>Distance : {{ distance }} km</p><br>

            <p>
                <!-- <ion-buttons slot="end" *ngIf="distance != null;"> -->
                <ion-button color="warning" class="ion-text-center" shape="round" icon-start expand="block" tappable fill="solid" (click)="getDirections(response.lat, response.lng);">
                    <ion-icon name="locate"></ion-icon>
                    Start Navigation
                </ion-button>

                <!-- </ion-buttons> -->
            </p>

        </ion-card>
    </ion-list>

    <div #map2 id="map2"></div>

</ion-content>