.scroll {
    height: 100%
}

#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%
}

#map2 {
    width: 100%;
    height: 100%;
}

ion-icon {
    color: white;
    font-size: 35px;
}

ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

// ion-button {
//     --background-activated: #2A1770;
//     --color: #2A1770;
//     --color-activated: #E78923;
//     --border-color: #2A1770;
// }