<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tebs/teb1"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            UZ Faqs
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <div *ngFor="let item of faqs">
            <ion-item (click)="name(item.id)">

                <!-- <ion-icon name="arrow-dropright" slot="end"></ion-icon> -->
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                <ion-thumbnail slot="start" style="height: auto;width: 55px;">
                    <img src="../../assets/icon/png/faq.png">
                </ion-thumbnail>
                <ion-label>
                    <h3 style="font-weight: bolder;text-transform: uppercase;">{{item.name}}</h3>
                </ion-label>
            </ion-item>
            <hr>

            <div *ngIf="item.id==isname" scrollable>
                <!-- <ion-item> -->
                <ion-card>
                    <div padding>
                        <h4><b>Q: {{item.question}}</b> </h4>
                    </div>

                    <ion-card-content>
                        <h4><b>A: {{item.answer}}</b></h4>
                    </ion-card-content>

                </ion-card>

                <!-- </ion-item> -->
            </div>
        </div>
    </ion-list>

</ion-content>