<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="user != null">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-back-button defaultHref="tebs"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="guest != null">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title>Campus Overview</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card padding>
        <p style="font: bold;">The University has gained a national reputation for its commitment to high quality learning, teaching and training, for its applied research and for its engagement with industry, business and its regional communities. Importantly, the University
            of Zimbabwe is a people-focused institution and it has much pride in its staff, students, alumni, and the communities it serves</p>
        <ion-card-content>
            <ion-list>
                <div *ngFor="let item of about">
                    <ion-item (click)="name(item.id)">
                        {{item.title}}
                        <ion-icon name="arrow-forward" slot="end"></ion-icon>
                    </ion-item>
                    <hr>
                    <div *ngIf="item.id==isname" scrollable>
                        <ion-card>

                            <div padding>
                                <h2>{{item.content}} </h2>
                            </div>

                        </ion-card>
                    </div>
                </div>
            </ion-list>

        </ion-card-content>

    </ion-card>

</ion-content>