<!-- <ion-header>
    <ion-toolbar color="primary" class="ion-padding">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tebs/teb1"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Campus Map
             <ion-searchbar style="border-radius: 10px;" placeholder="Filter Places" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" style="color: #E78923"></ion-searchbar> 
        </ion-title>

    </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-back-button defaultHref="tebs"></ion-back-button>
        </ion-buttons>

        <ion-title>Campus Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-searchbar placeholder="Filter Places" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" style="color: #E78923"></ion-searchbar>

    <div *ngIf="searchTerm!=''" class="direction">
        <ion-list>
            <ion-item *ngFor="let user of place; index as i" tappable (click)="Detail(user, user.lat, user.lng)">
                <ion-thumbnail slot="start" style="height: auto;width: 35px;">
                    <img src="../assets/imgs/map/{{ user.icon }}.png">
                </ion-thumbnail>
                <ion-label>
                    <h3 style="color: #2A1770;">{{ user.name }}</h3>
                    <h4>Distance: {{ distance[i] }} km</h4>
                </ion-label>
                <ion-icon name="arrow-forward" item-right></ion-icon>
                <hr>
            </ion-item>
        </ion-list>
    </div>
    <hr>
    <div *ngIf="searchTerm==''" class="direction">
        <ion-list>
            <ion-item *ngFor="let user of places; index as i" tappable (click)="Detail(user, user.lat, user.lng)">
                <ion-thumbnail slot="start" style="height: auto;width: 35px;">
                    <img src="../assets/imgs/map/{{ user.icon }}.png">
                </ion-thumbnail>
                <ion-label>
                    <h3 style="color: #2A1770;">{{ user.name }}</h3>
                    <h4>Distance: {{ distance[i] }} km</h4>
                </ion-label>
                <ion-icon name="arrow-forward" item-right></ion-icon>
                <hr>
            </ion-item>
        </ion-list>
    </div>
    <hr>

    <div #map id="map" padding></div>
</ion-content>