.scroll {
    height: 100%
}

#map {
    width: 100%;
    height: 100%;
}

.direction {
    max-height: 200px;
    overflow: scroll;
    //     // position: absolute;
    //     z-index: 1;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

ion-icon {
    color: #2A1770;
}

ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-list {
    background-color: inherit;
}

ion-item {
    margin-top: 10px;
}