<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="meals"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Food Order
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h2 style="color:#2A1770;" text-center>Meal Details</h2>

    <ion-card>
        <ion-card-header>
            <h3 style="color:black; font-size:19px;">{{ order.name }}</h3>
        </ion-card-header>
        <ion-card-content>
            <!-- <p> -->
            <h3 style="color:black; font-size:17px;">Costs: $ {{ order.price }}</h3>
            <hr>

            <h3 style="color:black; font-size:17px;">Restaurant name: {{ order.restaurant.name }}</h3>
            <hr>

            <h3 style="color:black; font-size:17px;">Restaurant Location: {{ order.restaurant.location }}</h3>
            <hr>

            <p style="color:black;">
                <ion-label>Posted on
                    <ion-datetime displayFormat="MMMM DD, YYYY HH:mm" [(ngModel)]="realDate"></ion-datetime>
                </ion-label>
            </p>

            <hr>
            <p style="color:black;">
                <!-- Author : {{ order.user.username }}&nbsp;&nbsp;&nbsp; -->

                <ion-button (click)="share(order.name,order.price,order.restaurant.name,order.timestamp)" style="float:right;" color="success">Share</ion-button>
            </p>
        </ion-card-content>
    </ion-card>