<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px; font-weight:bold;">
            Campus Security
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <hr>
    <ion-grid>
        <ion-row>
            <ion-col size="6" no-padding>

                <ion-card padding (click)="contactsecurity()">
                    <img src="../../../assets/icon/png/call.png">
                    <h3>Emergency </h3>
                </ion-card>
                <hr>
                <ion-card padding (click)="crimeprevention()">
                    <img src="../../../assets/icon/png/shield.png">
                    <h3>Crime Prevention</h3>
                </ion-card>


            </ion-col>

            <ion-col size="6" no-padding>

                <ion-card padding (click)="generalinfo()">
                    <img src="../../../assets/icon/png/info.png">
                    <h3>General Info</h3>
                </ion-card>

                <hr>

                <ion-card padding (click)="notices()">
                    <img src="../../../assets/icon/png/error.png">
                    <h3>Security Notices</h3>
                </ion-card>


            </ion-col>

        </ion-row>
    </ion-grid>



</ion-content>