<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="newslist"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            News Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h2 style="color:#2A1770;" text-center>News Details</h2>

    <ion-card>
        <ion-card-header>
            <h3 style="color:black; font-size:19px;">{{ news.title }}</h3>
        </ion-card-header>
        <ion-card-content>
            <!-- <p> -->
            <h3 style="color:black; font-size:17px;">{{ news.content }}</h3>
            <hr>

            <p *ngIf="news.link_url != ''">
                <a href="{{ news.link_url }}">link</a>
            </p>

            <p *ngIf="news.link_url == ''">
                <a tappable>link</a>
            </p>
            <!-- </p> -->

            <p style="color:black;">
                <ion-label>Posted on {{ news.news_date }} at {{ news.news_time }}</ion-label>
            </p>
            <p *ngIf="news.image  == null">
                <img src="../../assets/imgs/noimage.png">
            </p>

            <p *ngIf="news.image != null">
                <!-- <img src="http://127.0.0.1:8000{{ news.image }}"> -->
                <img src="{{ news.image }}">
            </p>
            <hr>
            <p style="color:black;">
                Author : {{ news.user.username }}&nbsp;&nbsp;&nbsp;

                <ion-button (click)="share(news.title,news.content,news.image,news.link_url)" style="float:right;" color="success">Share</ion-button>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>