<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px; font-weight:bold;">
            Security Info
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-list>
        <ion-item *ngFor="let x of infoList;let i=index" (click)="presentModal(x)">
            <h4>{{x.title}}</h4>
            <hr>
        </ion-item>

        <!-- <ion-item (click)="presentModal(x)">
            <h3>Mission</h3>
        </ion-item>
        <hr>
        <ion-item (click)="presentModal(x)">
            <h3>Goals and responsibilities</h3>
        </ion-item> -->
    </ion-list>
</ion-content>