ion-avatar {
    height: auto;
    width: 60px;
}

ion-icon {
    color: #2A1770;
}

h3 {
    // text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 19px;
}

ion-card img {
    display: block;
    width: 60%;
    margin-left: 22%;
}

ion-card h3 {
    margin-top: 10px;
    margin-bottom: -5px;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    margin-top: 0.8em;
}

ion-content {
    --background: none;
    background-image: url('../../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}