<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Tip Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='closeModal()'>Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-card>
            <ion-card-subtitle text-center>
                <h1 style="color: #2A1770;">{{ tip.name }}</h1>
            </ion-card-subtitle>
            <ion-card-content>

                <ion-row>
                    <ion-col size="4">
                        <h2>Category</h2>

                    </ion-col>
                    <ion-col size="8">
                        <h2>: {{ tip.category }}</h2>
                    </ion-col>
                </ion-row>


                <ion-grid>

                    <ion-row>
                        <!-- <ion-col size="4">
                          <h2>Status</h2>

                      </ion-col> -->
                        <ion-col size="12">
                            <h2>{{ tip.details }}</h2>
                        </ion-col>
                    </ion-row>



                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>