// ion-content {
//     --background: none;
//     // background-image: url('../../../assets/imgs/cbz.png');
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
h2 {
    // text-align: center;
    font-size: 19px;
    color: black;
}

ion-card-subtitle {
    background-color: white;
}

ion-card-content {
    opacity: 0.8;
    filter: alpha(opacity=50);
    background-color: white;
}

h4 {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

ion-icon {
    color: #2A1770;
}

ion-avatar {
    background-color: rgb(110, 116, 103);
}

ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-item {
    --ion-background-color: rgb(139, 190, 233);
    margin-top: 10px;
}

ion-row {
    margin-bottom: 0em;
}

ion-button {
    width: 100%;
}