<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            CBZ Bank Limited
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col size="2">


            </ion-col>
            <ion-col size="8">

                <ion-img src="../../../assets/icon/png/cbz.jpg"></ion-img>
            </ion-col>

            <ion-col size="2">

            </ion-col>

        </ion-row>
        <hr>
        <h4>University of Zimbabwe banking details</h4>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="5">
                <h6>Account Name </h6>
            </ion-col>
            <ion-col size="7">
                <h6>: University of Zimbabwe</h6>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <h6>Branch Name </h6>
            </ion-col>
            <ion-col size="7">
                <h6>: Kwame Nkuruman Ave, Harare</h6>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <h6>Account Number</h6>
            </ion-col>
            <ion-col size="7">
                <h6>: 01120770100052</h6>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <h6>Branch Sort Code</h6>
            </ion-col>
            <ion-col size="7">
                <h6>: 6101</h6>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <h6>Swift Code</h6>
            </ion-col>
            <ion-col size="7">
                <h6>: cobzzwhaxxx</h6>
            </ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col size="3"> </ion-col>
            <ion-col size="6">
                <ion-button color="danger" (click)="share('Account Number : 01120770100052','Branch Sort Code : 6101','Swift Code : cobzzwhaxxx')">Share</ion-button>
            </ion-col>
            <ion-col size="3"> </ion-col>
        </ion-row> -->

    </ion-grid>
</ion-content>