<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="teb1">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="teb2">
            <ion-icon name="book"></ion-icon>
            <ion-label>Academic Services</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="teb3">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Campus Services</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>