<ion-content>
    <h6 style="margin-left: 10px;"> Players</h6>
    <ion-list>
        <ion-item>
            <ion-thumbnail slot="start" style="height: auto;width:80px;">
                <img src="../.././assets/imgs/uzlogo.jpg">
            </ion-thumbnail>
            <ion-label>
                <h3>Alexio Danje</h3>
            </ion-label>
            <hr>
        </ion-item>
    </ion-list>
</ion-content>