ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-icon {
    color: #2A1770;
}

ion-item {
    --ion-background-color: rgb(139, 190, 233);
    margin-top: 10px;
}

ion-list {
    background-color: inherit;
}