<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" text-center>
            {{department}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <hr>
    <ion-searchbar placeholder="Filter Department" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" style="color: #ff8000"></ion-searchbar>
    <hr>
    <div *ngIf="searchTerm!=''">
        <ion-list>
            <ion-item *ngFor="let user of filtered" tappable (click)="departmentDetails1(user.id)">
                <ion-thumbnail slot="start" style="height: auto;width: 55px;">
                    <img src="../../../assets/icon/png/phone-book.png">
                </ion-thumbnail>
                <ion-label>
                    <h3>{{ user.fullname }}</h3>
                </ion-label>
                <ion-icon name="arrow-forward" item-right></ion-icon>
                <hr>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="searchTerm==''">
        <ion-list>
            <ion-item *ngFor="let user of dpt_list_all" tappable (click)="departmentDetails1(user.id)">
                <ion-thumbnail slot="start" style="height: auto;width: 55px;">
                    <img src="../../../assets/icon/png/phone-book.png">
                </ion-thumbnail>
                <ion-label>
                    <h3>{{ user.fullname }}</h3>
                </ion-label>
                <ion-icon name="arrow-forward" item-right></ion-icon>
                <hr>
            </ion-item>
        </ion-list>
    </div>
</ion-content>