ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

// h2 {
//     font-size: 19px;
//     color: black;
// }
ion-card img {
    display: block;
    width: 60%;
    margin-left: 22%;
}

h3 {
    // text-align: center;
    font-size: 19px;
    color: black;
}

ion-item {
    --ion-background-color: rgb(139, 190, 233);
    margin-top: 10px;
}

div[_ngcontent-hgd-c7] {
    height: 0%;
}

.monthview-container {
    height: 0%;
}

#events {
    max-height: 30%;
    overflow: scroll;
}

ion-list {
    background-color: inherit;
}