<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button defaultHref="tebs/teb3" slot="start" color="light"></ion-back-button>
        <ion-title>
            {{ viewTitle }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="today()">Today</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div id="events">
        <ion-list>
            <ion-item *ngFor="let user of eventlist" tappable (click)="eventDetails(user);">

                <ion-thumbnail slot="start" style="margin: auto;align-self: auto;width: 15%;height: auto;">
                    <img src="../../../assets/icon/png/noticeboard.png">
                </ion-thumbnail><br>
                <hr>

                <ion-label style="margin-left: 10px;;">
                    <h1 style="color: #2A1770;">{{ user.title }}</h1>

                    <h2 style="white-space: nowrap;
                                      overflow: hidden;
                                      text-overflow: ellipsis;">{{ user.description }}</h2>


                </ion-label>

            </ion-item>
        </ion-list>
    </div>
    <hr>

    <!-- Card for adding a new event -->
    <!-- <ion-card>
        <ion-card-header tappable>
            <ion-card-title>New Event</ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <ion-item>
                <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Start</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>End</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>All Day?</ion-label>
                <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
            </ion-item>
            <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>

        </ion-card-content>
    </ion-card> -->

    <ion-grid>
        <ion-row>
            <!-- Change the displayed calendar mode -->
            <ion-col size="4">
                <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Week</ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Day</ion-button>
            </ion-col>

            <!-- Move back one screen of the slides -->
            <ion-col size="6" text-left>
                <ion-button fill="clear" (click)="back()">
                    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>

            <!-- Move forward one screen of the slides -->
            <ion-col size="6" text-right>
                <ion-button fill="clear" (click)="next()">
                    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6"
        endHour="20" step="30" startingDayWeek="1">
    </calendar>




</ion-content>