<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tebs/teb3"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Clinic
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="6">

                <ion-card class="ion-padding" tappable (click)="ambulance();">
                    <img src="../../../assets/icon/png/ambulance.png">
                    <h3>Ambulance</h3>
                </ion-card>


            </ion-col>

            <ion-col size="6">
                <ion-card class="ion-padding" tappable (click)="drugs();">
                    <img src="../../../assets/icon/png/drugs.png">
                    <h3>Drugs</h3>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

    <h1 style="color: #2A1770;">Health Tips</h1>

    <div>
        <ion-list>
            <ion-item *ngFor="let user of healthtips" tappable (click)="tipDetails(user);">

                <ion-thumbnail slot="start" style="margin: auto;align-self: auto;width: 15%;height: auto;">
                    <img src="../../../assets/icon/png/medicine.png">
                </ion-thumbnail><br>
                <hr>

                <ion-label style="margin-left: 10px;;">
                    <h1 style="color: #2A1770;">{{ user.name }}</h1>

                    <h2 style="white-space: nowrap;
                                      overflow: hidden;
                                      text-overflow: ellipsis;">{{ user.details }}</h2>

                    <h3> {{ user.category }}</h3>
                </ion-label>

            </ion-item>
        </ion-list>
    </div>

</ion-content>