ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-card img {
    display: block;
    width: 60%;
    margin-left: 22%;
}

h3 {
    // text-align: center;
    font-size: 19px;
    color: black;
}

ion-item {
    --ion-background-color: rgb(139, 190, 233);
    margin-top: 10px;
}

ion-list {
    background-color: inherit;
}