<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" color="light">
            <ion-back-button color="light" defaultHref="departments"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Contact Security
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <hr>
    <hr>
    <ion-list>

        <div *ngFor="let user of numbers">
            <ion-item tappable (click)="name(user.id)">
                <ion-thumbnail slot="start" style="height: auto;width: 55px;">
                    <img src="../../../assets/icon/png/user.png">
                </ion-thumbnail>
                <ion-label>
                    <h3 style="text-transform: uppercase;">{{ user.userRole }}</h3>
                </ion-label>
                <ion-icon name="arrow-forward" item-right></ion-icon>
                <hr>
            </ion-item>
            <div *ngIf="user.id==isname" scrollable>
                <ion-card>

                    <ion-item (click)="callNow(user.phone)">
                        <ion-label>Cell Number</ion-label>
                        {{ user.phone }}
                        <ion-icon ios="ios-call" md="md-call"></ion-icon>
                    </ion-item>

                </ion-card>
                <ion-grid padding>
                    <ion-row>
                        <ion-col size="4">
                            <ion-button size="small" tappable (click)="callNow(user.phone)" style="font-style: italic;width: 90px;">
                                Call Us
                                <ion-icon color="light" ios="ios-call" md="md-call"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">

                        </ion-col>
                        <ion-col size="4">
                            <ion-button size="small" tappable style="font-style: italic;width: 90px;" (click)="share(user.phone)">
                                Share
                                <ion-icon color="light" name="share"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </ion-list>



</ion-content>