<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>

            <ion-col size="12">

                <ion-img src="{{ banner }}"></ion-img>
            </ion-col>

        </ion-row>
    </ion-grid>


    <hr class="new4">

    <h1 style="color: #2A1770;text-align: center;">Latest news</h1>


    <ion-grid (click)="viewnews();" tappable>
        <!-- <ion-row>

             max-width: 100%;
                height: auto; 
        'background-image': 'url('+ banner1 +')', 

            <ion-col [ngStyle]="{'background-position': 'center top','background-repeat': 'no-repeat','background-size': 'cover','max-width': '100%', 'height': 'auto'}" style="max-width: 100%;height: auto;" class="news">
                <ion-img src="{{ banner1 }}"></ion-img>
                <h1 class="banner ion-text-center">
                    University of Zimbabwe Graduation Ceremony
                </h1>
            </ion-col>
        </ion-row> -->
        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let item of final">
                <ion-row>
                    <ion-col [ngStyle]="{'background-position': 'center top','background-repeat': 'no-repeat','background-size': 'cover','max-width': '100%', 'height': 'auto'}" style="max-width: 100%;height: auto;" class="news">
                        <ion-img src="{{ banner1 }}"></ion-img>
                        <h1 class="banner ion-text-center">
                            {{item.title}}
                        </h1>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-grid>



    <!-- <ion-footer> -->
    <ion-grid>
        <ion-row>
            <ion-col size="4" no-padding (click)="map();">
                <ion-card>
                    <br>
                    <img src="../../assets/icon/png/map-location.png">
                    <h3>Map</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding (click)="phone()">
                <ion-card>
                    <br>
                    <img src="../../assets/icon/png/phonebook (1).png">
                    <h3>Phone</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding (click)="Notices()">
                <ion-card>
                    <br>
                    <img src="../../assets/icon/png/error.png">
                    <h3>Notices</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!-- </ion-footer> -->

</ion-content>