<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Laptops
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col size="3">


            </ion-col>
            <ion-col size="6">

                <ion-img src="../../../assets/icon/png/laptop-1.png"></ion-img>
            </ion-col>

            <ion-col size="3">

            </ion-col>

        </ion-row>
        <h4>UZ Student Laptop info</h4>
    </ion-grid>
    <ion-grid *ngFor="let lap of laptop">
        <ion-row>
            <ion-col size="5">Ownership </ion-col>
            <ion-col size="7">{{ lap.ownership }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Make </ion-col>
            <ion-col size="7">{{ lap.make}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Model </ion-col>
            <ion-col size="7">{{ lap.model }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Color </ion-col>
            <ion-col size="7">{{ lap.color }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Serial Number </ion-col>
            <ion-col size="7">{{ lap.serialnumber }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Barcode </ion-col>
            <ion-col size="7">{{ lap.barcode }}</ion-col>
        </ion-row>
        <hr>
        <h4>UZ Student info</h4>

        <ion-row>
            <ion-col size="5">Reg Number </ion-col>
            <ion-col size="7">{{ lap.user.username }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Full Name </ion-col>
            <ion-col size="7">{{ lap.user.first_name }} {{lap.user.last_name}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">Email </ion-col>
            <ion-col size="7">{{ lap.user.email }}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>