h4 {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}

h5 {
    font-size: 15px;
    margin-top: 1px;
}

ion-icon {
    color: #2A1770;
}

ion-avatar {
    background-color: rgb(110, 116, 103);
}

ion-content {
    --background: none;
    background-image: url('../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-item {
    --ion-background-color: rgb(139, 190, 233);
    margin-top: 10px;
}