<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" text-center>
            Sports
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card text-center padding>
                    <img src="../../../assets/icon/png/028-sport-1.png">
                    <h3>Atheletics</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/036-bat.png">
                    <h3>Baseball</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/039-fight.png">
                    <h3>Boxing</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/041-cricket.png">
                    <h3>Cricket</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/029-sports-and-competition.png">
                    <h3>Football</h3>
                </ion-card>
                <hr>
                <ion-card padding>
                    <img src="../../../assets/icon/png/038-strength.png">
                    <h3>Gym</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/033-indoor-sports.png">
                    <h3>Hockey</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/048-goal-1.png">
                    <h3>Netball</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/050-sports-and-competition-4.png">
                    <h3>Rugby</h3>
                </ion-card>
                <hr>
                <ion-card padding>
                    <img src="../../../assets/icon/png/051-squash.png">
                    <h3>Squash</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/052-sport-2.png">
                    <h3>Table Tennis</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/054-racket.png">
                    <h3>Tennis</h3>
                </ion-card>
            </ion-col>
            <ion-col size="6">

                <ion-card padding>
                    <img src="../../../assets/icon/png/037-badminton.png">
                    <h3>Badminton</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/035-basketball.png">
                    <h3>Basketball</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/040-chess.png">
                    <h3>Chess</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/044-target.png">
                    <h3>Darts</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/054-racket.png">
                    <h3>Golf</h3>
                </ion-card>
                <hr>
                <ion-card padding>
                    <img src="../../../assets/icon/png/046-team-sports.png">
                    <h3>Handball</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/047-judo.png">
                    <h3>Karate</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/030-snooker.png">
                    <h3>Pool</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/032-sports-and-competition-1.png">
                    <h3>Softball</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/049-swimmer.png">
                    <h3>Swimming</h3>
                </ion-card>
                <hr>
                <ion-card padding>
                    <img src="../../../assets/icon/png/053-taekwondo.png">
                    <h3>Taekwondo</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../../assets/icon/png/055-volley.png">
                    <h3>Volleyball</h3>
                </ion-card>

            </ion-col>

        </ion-row>
    </ion-grid>



</ion-content>