ion-avatar {
    height: auto;
    width: 60px;
}

hr.new4 {
    border-top: 1px solid rgb(211, 211, 211);
}

.banner {
    opacity: 0.8;
    filter: alpha(opacity=50);
    background-color: rgb(211, 211, 211);
    color: #2A1770;
    text-align: center;
    position: absolute;
    bottom: 0;
    // width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

// .news {
//     --background: none;
//     // background-image: url('../../assets/imgs/banner2.jpg');
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
ion-img {
    max-width: 100%;
    height: auto;
}

ion-icon {
    color: #E78923;
}

ion-icon {
    color: #2A1770;
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

h2 {
    font-size: 19px;
}

h3 {
    // text-align: center;
    font-size: 17px;
    color: #2A1770;
    font-weight: bold;
}

small {
    font-weight: bold;
    font-size: small;
}

ion-card img {
    display: block;
    width: 60%;
    margin-left: 22%;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    margin-top: 0.8em;
}

ion-content {
    --background: none;
    background-image: url('../../../assets/icon/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-footer {
    --background: none;
    background-image: url('../../../assets/icon/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}