<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="teb1"></ion-back-button>
        </ion-buttons>
        <ion-title>Residence Halls</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <hr>
    <ion-searchbar placeholder="Filter Hostel" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" style="color: #ff8000"></ion-searchbar>
    <hr>
    <div *ngIf="searchTerm!=''">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let user of hostel" tappable (click)="Hostel(user, user.id)">
                    <ion-card class="ion-text-center">

                        <img src="../../../assets/icon/hall.png">

                        <small>{{ user.name }}</small><br>
                        <small>Capacity: {{user.capacity}}</small>
                        <hr>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="searchTerm==''">
        <ion-grid>
            <ion-row>
                <ion-col size="6" class="ion-text-center" *ngFor="let user of hostels" tappable (click)="Hostel(user, user.id)">
                    <ion-card class="ion-text-center">
                        <img src="../../../assets/icon/hall.png">

                        <small>{{ user.name }}</small><br>
                        <small>Capacity: {{user.capacity}}</small>
                        <hr>

                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>