<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Event Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='closeModal()'>Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-card>
            <ion-card-subtitle text-center>
                <h1 style="color: #2A1770;">{{ event.title }}</h1>
            </ion-card-subtitle>
            <ion-card-content>

                <ion-row>
                    <ion-col size="4">
                        <h2>Venue</h2>

                    </ion-col>
                    <ion-col size="8">
                        <h2>: {{ event.custom_venue }}</h2>
                        <h2>{{ event.venue.name }}</h2>
                    </ion-col>
                </ion-row>


                <ion-grid>

                    <ion-row>
                        <!-- <ion-col size="4">
                          <h2>Status</h2>

                      </ion-col> -->
                        <ion-col size="12">
                            <h2>{{ event.description }}</h2>
                        </ion-col>
                    </ion-row>

                    <ion-button (click)="share(event.title,event.description,event.venue, event.custom_venue)" style="float:right;" color="success">Share</ion-button>

                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>