<ion-header>
    <ion-toolbar color="primary">

        <ion-title>{{info.title}}</ion-title>
        <ion-buttons slot="start">
            <ion-button color="danger" (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">X</span>
                <ion-icon name="md-close" showWhen="android,windows">X</ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h5 style="font-weight: bolder;">Chief Security Officer</h5>
    <div>
        <h6>{{info.content}}</h6>
    </div>

</ion-content>