<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>

            <ion-col size="12">
                <ion-thumbnail>
                    <ion-img src="../../assets/imgs/banner1.jpg"></ion-img>
                </ion-thumbnail>
            </ion-col>

        </ion-row>
    </ion-grid>


    <hr class="new4">

    <h1 style="color: #2A1770;text-align: center;">Latest news</h1>


    <ion-grid>
        <ion-row>
            <!-- <div class="news">

            </div> -->
            <ion-col class="news" style="height: 200px;">
                <!-- <br><br><br><br> -->
                <h1 class="banner">
                    University of Zimbabwe Graduation Ceremony
                </h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr><br>

    <ion-grid>
        <ion-row>
            <ion-col size="4" no-padding>
                <ion-card>
                    <br>
                    <img src="../../assets/icon/png/009-research.png">
                    <h3>Map</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding>
                <ion-card>
                    <br>
                    <img src="../../assets/icon/png/006-directory.png">
                    <h3>Phone</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding>
                <ion-card>
                    <br>
                    <img src="../../assets/icon/png/007-search.png">
                    <h3>Search</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>