<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tebs/teb1"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list *ngFor="let user of news" tappable (click)="newsDetail(user)">
        <ion-item>

            <ion-thumbnail slot="start" *ngIf="user.image != null">
                <img [src]="user.image">
            </ion-thumbnail>
            <ion-thumbnail slot="start" *ngIf="user.image == null">
                <img src="../../assets/imgs/noimage.png">
            </ion-thumbnail>

            <ion-label>
                <h1>{{ user.title }}</h1>
                <h2 style="white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">{{ user.content }}</h2>
                <h2>date: {{ user.news_date }} time: {{ user.news_time }}</h2>
            </ion-label>
            <ion-icon name="arrow-forward" item-right></ion-icon>

        </ion-item>
    </ion-list>
</ion-content>