<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tebs/teb2"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            Notices
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!-- <h1 style="color: #2A1770;text-align: center;">Notices</h1> -->

    <div>
        <ion-list>
            <ion-item *ngFor="let user of notice" tappable (click)="noticeDetails(user);">

                <ion-thumbnail slot="start" style="margin: auto;align-self: auto;width: 15%;height: auto;">
                    <img src="../../../assets/icon/png/error.png">
                </ion-thumbnail><br>
                <hr>

                <ion-label style="margin-left: 10px;;">
                    <h1 style="color: #2A1770;">{{ user.title }}</h1>

                    <h2 style="white-space: nowrap;
                                      overflow: hidden;
                                      text-overflow: ellipsis;">{{ user.content }}</h2>



                    <!-- <div *ngIf="user.image != null">
                        <ion-img src="{{ user.image }}"></ion-img>
                    </div>

                    <div *ngIf="user.image1 != null">
                        <ion-img src="{{ user.image1 }}"></ion-img>
                    </div> -->
                </ion-label>

            </ion-item>
        </ion-list>
    </div>

</ion-content>